body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #3e2723; /* Dark brown for better contrast on beige */
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.roboto-font-nav {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-font-nav {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.custom-navbar {
  background-color: rgba(232, 227, 210, 0.8);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.nav-highlight {
  position: relative;
  display: inline-block;
  padding: 2px 6px;
  margin: -2px -6px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
}

.nav-highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=b4ab87');
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: 0 ;
  z-index: -1;

  -webkit-mask: linear-gradient(
    90deg,
    transparent 0%,
    transparent 100%,
    transparent 100%,
    transparent 100%
  );
    mask: linear-gradient(
    90deg,
    transparent 0%,
    transparent 100%,
    transparent 100%,
    transparent 100%
  );
}

.nav-highlight:hover::before {
  animation: reveal 0.2s forwards;
}

@keyframes reveal {
  0% {
    -webkit-mask: linear-gradient(
      90deg,
      transparent 0%,
      transparent 100%,
      transparent 100%,
      transparent 100%
    );
            mask: linear-gradient(
      90deg,
      transparent 0%,
      transparent 100%,
      transparent 100%,
      transparent 100%
    );
  }
  100% {
    -webkit-mask: linear-gradient(
      90deg,
      #000 0%,
      #000 100%,
      #000 100%,
      #000 100%
    );
            mask: linear-gradient(
      90deg,
      #000 0%,
      #000 100%,
      #000 100%,
      #000 100%
    );
  }
}
